.vermelha {
    width: 200px;
    height: 200px;

    background-color: red;

    position: absolute;

    top: 100px;
    left: 100px;

    z-index: 1;

    opacity: 0.8;
}

.azul {
    width: 200px;
    height: 200px;

    background-color: blue;

    position: absolute;

    top: 150px;
    left: 150px;

    z-index: 2;

    opacity: 0.8;
}